{% extends 'categories/layout1.html' %}

 

    {% block content %}


    {% for package in packages %}
    <div class="packages" id=pack1>
        <img class=pack-img src="{{ url_for('static',filename='package-images/' + package.image_file ) }}" alt="hot-air-balloon" >
        <div class=img-desc>
            <p class="desc">{{ package.title }}</p>
            <p class=duration>Duration : {{ package.duration }}</p>
            <p class="cost"> ₹{{ package.cost }} per person</p>

            {% if ratings %}
                {% for r in ratings %}
                    {% if r.id==package.id %}
                        <div class="hotel-data" id="ratings">
                            <x-star-rating> 
                                {% for stars in range(r.rating) %}
                                    <div class="star full"></div>
                                {% endfor %}
                                {% for stars in range(5 - r.rating)  %}
                                <div class="star"></div>
                                {% endfor %}
                            </x-star-rating>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="middle">
            <ul>
                <li class="info">{{ package.info1 }}</li>
                <li class="info">{{ package.info2 }}</li>
                <li class="info">{{ package.info3 }}</li>

                {% if package.info4 %}
                 <li class="info">{{ package.info4 }}</li>
                {% endif %}
               
                {% if package.info5 %}
                <li class="info">{{ package.info5 }}</li>
                {% endif %}
            </ul>
        </div>
        <div>
            <a href="{{ url_for('packagedetails', package_id=package.id, category=package.category) }}" target="_blank" class="button"><p class="more">More details</p></a>
        </div>
    </div>

    {% endfor %}



    <div class="packages" id=pack2>
        <img class=pack-img src="{{url_for('static',filename='images/ajanta-ellora.jpg')}}" alt="Ajanta Ellora Caves" >
        <div class=img-desc>
            <p class="desc">Ajanta Ellora Cave Tour</p>
            <p class=duration>duration: 4 days | 3 Nights</p>
            <p class="cost">₹12,000 per person</p>
            <div class="hotel-data" id="ratings">
                <x-star-rating> 
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star "></div>
                </x-star-rating>
            </div>
        </div>
        <div class="middle">
            <ul>
                <li class="info">1</li>
                <li class="info">2</li>
                <li class="info">3</li>
                <li class="info">4</li>
            </ul>
        </div>
        <div>
            <a href="package-details/ajanta-ellora.html" class="button"><p class="more">More details</p></a>
        </div>
    </div>




    <div class="packages" id=pack3>
        <img class=pack-img src="{{url_for('static',filename='images/rajasthan-forts.jpg')}}" alt="rajasthan-forts" >
        <div class=img-desc>
            <p class="desc">Forts Castle Rajasthan Tour</p>
            <p class=duration>duration: 14 Days | 13 Nights</p>
            <p class="cost">₹15,000 per person</p>
            <div class="hotel-data" id="ratings">
                <x-star-rating> 
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star "></div>
                </x-star-rating>
            </div>
        </div>
        <div class="middle">
            <ul>
                <li class="info">1</li>
                <li class="info">2</li>
                <li class="info">3</li>
                <li class="info">4</li>
            </ul>
        </div>
        <div>
            <a href="#" class="button"><p class="more">More details</p></a>
        </div>
    </div>




    <div class="packages" id=pack4>
        <img class=pack-img src="{{url_for('static',filename='images/hampi.jpg')}}" alt="hampi" >
        <div class=img-desc>
            <p class="desc">Discover Karnataka Tour</p>
            <p class=duration>duration: 10 Days | 10 Nights</p>
            <p class="cost">₹20,000 per person</p>
            <div class="hotel-data" id="ratings">
                <x-star-rating> 
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star full"></div>
                    <div class="star "></div>
                </x-star-rating>
            </div>
        </div>  
        <div class="middle">
            <ul>
                <li class="info">1</li>
                <li class="info">2</li>
                <li class="info">3</li>
                <li class="info">4</li>
            </ul>
        </div> 
        <div>
            <a href="#" class="button"><p class="more">More details</p></a>
        </div>
    </div>

     {% endblock %}


















