<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'account_style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
        <title>{{title}}</title>
    </head>

    <style>
        
        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #007bff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem #008cff4a;
        }

        .form-control.is-invalid, .was-validated .form-control:invalid{
            border-width: 1.2px;
            border-color: #ef717d;
        }

        .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(241, 22, 43, 0.25);
        }

        .invalid-feedback {
            display: none;
            width: 100%;
            margin-top: .25rem;
            font-size: 86%;
            color: #e50016;
            font-weight: 500;
        }



    </style>

    <body>
        <div class='nav'>
            <ul>
                <li class="trans"><a href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li class="trans"><a href="#">Hotel</a></li>
                <li class="trans"><a href="#"><i class="fa fa-plane" style="font-size:21px; margin-right:20px;"></i>Flight</a></li>
                <li class="trans"><a href="#">Help</a></li>
                
                <div class="left">
                    <li >
                    <form>
                            <div class="search searchbox">
                                <input type="search" name="search" id="ser" placeholder="Search....">
                            </div>
                            <div class="search searchbtn">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="trans account "><a href="{{ url_for('account') }}" class="active">Account</a></li>
                    <li class="trans"><a href="{{ url_for('logout') }}">Logout</a></li>
                </div>    
            </ul>
        </div>  
          
            <div class="box">
                <h1 style="text-align:center; color:#EA2027; font-size:40px">Update Account</h1>
                <div class="content-section">
                    <div class="media'">
                        <img class="rounded-circle account-img" src="{{ image_file }} ">
                        <div class="media-body">
                            <div class="name-email">
                            <h2 class="account-heading "> {{ current_user.firstname + "  " + current_user.lastname }}</h2>
                            <p>{{ current_user.email }}</p>
                            </div>
                        </div>
                    </div>
        {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class='alert alert-{{ category }}'>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}                 
                      <div class="form-group">
                        {{ form.phnumber.label(class="form-control-label text") }}
                        
                        {% if form.phnumber.errors %}
                            {{ form.phnumber(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.phnumber.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phnumber(class="form-control form-control-lg") }}
                        {% endif %}
                   </div>
                    
                    
    
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label text") }}
                        
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                   </div>
    
                   <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                   </div>

                    <div class="form-group">
                        {{ form.submit(class="btn") }} 
                    </div>
                       
                    </form>
            </div>
                <h2>Your Travel History</h2><br>
                <table>
                    <tr>
                        <th>Package Name</th>
                        <th>Date of Travel</th>
                    </tr>
                    {% for history in past_history %}
                    <tr>
                        <td>{{ history.travel_package.title }}</td>
                        <td>{{history.DOT}}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>