<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'signup_style.css') }}">
        
        
        <title>TravelSmart - Signup</title>

        <!-- logo -->
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='logo2.jpg') }}">

        <style>
            .form-control:focus {
                    color: #495057;
                    background-color: #fff;
                    border-color: #007bff;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem #008cff4a;
                }
    
                .form-control.is-invalid, .was-validated .form-control:invalid{
                    border-width: 1.2px;
                    border-color: #ef717d;
                }
    
                .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
                    border-color: #dc3545;
                    box-shadow: 0 0 0 0.2rem rgba(241, 22, 43, 0.25);
                }
    
                .invalid-feedback {
                    display: none;
                    width: 100%;
                    margin-top: .25rem;
                    font-size: 86%;
                    color: #e50016;
                    font-weight: 500;
                }
    
                small{
                    font-size: 15px;
                }
        </style>
    </head>
    <body>
        <div class="box">
            <h1 style="text-align:center; color:#EA2027; font-size:40px">Sign Up</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}                 
                  
                <div class="form-group">   
                    {{ form.firstname.label(class="form-control-label text") }}

                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>    
                
                <div class="form-group">
                    {{ form.lastname.label(class="form-control-label text") }}
                    
                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                  
                <div class="form-group">
                    {{ form.phnumber.label(class="form-control-label text") }}
                    
                    {% if form.phnumber.errors %}
                        {{ form.phnumber(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phnumber.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phnumber(class="form-control form-control-lg") }}
                    {% endif %}
               </div>
                
                <div class="form-group">
                    {{ form.username.label(class="form-control-label text") }}
                    
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
               </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label text") }}
                    
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
               </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label text") }}
                    
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
              </div>

                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label text") }}
                    
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn") }} 
                </div>
                
                
                </form>
            
                <p class="">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
                </p>

        </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>