
 input[type="submit"]{
    font-size: 20px;
    background-color:#0984e3;
    padding:10px 35px;
    color:white;
    border:none;
    margin: 10px 40%;
    cursor:pointer;
    border-radius: 50px;
}

input[type="submit"]:hover{
    background-color:#54a0ff;
}

.box {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 60px;
    width:600px;
    margin:100px auto;
    padding-right: 80px;
    box-shadow:3px 3px 10px;
}

body{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('img 6.jpg');
    background-repeat:none;
    background-attachment:fixed;
    background-size:cover;
}

.text{
    font-size:20px;
    font-family:Helvetica;
}