input[type="submit"]{
    width:200px;
    background-color:#0984e3;
    padding:14px 20px;
    color:white;
    border:none;
    margin: 20px 30%;
    cursor:pointer;
    border-radius: 50px;
    
}
input[type="submit"]:hover{
    background-color:#54a0ff;
}


.box {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 60px;
    width:600px;
    margin:100px auto;
    padding-right: 80px;
    box-shadow:3px 3px 10px;
}

body{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('images/travel12.jpg');
    background-repeat:none;
    background-attachment:fixed;
    background-size:cover;
}


.text{
    font-size:20px;
    font-family:Helvetica;
}


.nav{
    display:inline-flex;
    justify-content: space-between;
    background-color:#22a6b3;
    width:100%;
    z-index: 1;
    position: fixed;
    top:0px; 
    overflow: hidden;
}
.left{
    float:right;

}
ul{
    width:100%;
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    
}
li {
    float:left;
    *margin:10px;
    transition:0.2s ease-in;
}

.account a{
    padding:8px ;
}


li.trans:hover {
    transform:scale(1.1);
}


li a{
    overflow: hidden;
    text-decoration:none;
    display:block;
    width:11.5vw;
    background-color:#22a6b3;
    text-align:center;
    color:white;
    padding:20px;
    font-size:20px;
    box-sizing:border-box;
}

li a.active{
    background-color:#6ab04c;
}  


li a:hover:not(.active){
    background-color:#7ed6df;
    
    
}
a:link{
    text-decoration: none;
    margin:0;
}

.searchbox{
    text-decoration:none;
    width:200px;
    background-color:#22a6b3;
    padding:17px;
    font-size:20px;
    box-sizing:border-box;
}

.searchbtn{
    text-decoration:none;
    width:60px;
    background-color:#22a6b3;
    padding:17px;
    font-size:20px;
    box-sizing:border-box;
}

.search{
    float: left;
}